* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/*lateral menu styles*/
.lateral--menu {
  background-color: rgba(0, 0, 0, 0.884);
  height: 100vh;
  width: 15%;
}

.welcome--text {
  position: absolute;
  left: 39%;
  top: 45%;
  font-size: 4rem;

  color: #fff;
}

.menu--icons {
  display: flex;
  flex-direction: column;
  gap: 30px;

  align-items: center;
  align-content: center;

  position: relative;
  top: 20%;
}

.icon {
  text-decoration: none;
  color: #fff;
}

.icon:hover {
  background-color: #002C4E;
  width: 150px;
  text-align: center;
  padding: 5px;
  transition: all .5s;
  border-radius: 5px;
}