.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #chart1, #chart2, #chart3, #chart4, #chart5, #chart6, #chart7, #chart8, #chart9{
    width: 100%;
    min-height: 500px;
  }
  
  h2 {
    text-align: center;
    margin-top: 10px;
  }